<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}default ??{% endblock %}</title>

    <!-- Styles -->
    {{ encore_entry_link_tags('main.css') }}
    {% block stylesheets %}
    {% endblock %}

    <!-- Scripts -->
    {{ encore_entry_script_tags('main') }}
    {{ encore_entry_script_tags('form') }}

    {% block javascripts %}
    {% endblock %}
</head>

<body>
<header>
    <nav class="navbar navbar-expand-lg bg-white sticky-top navbar-light p-3 shadow-sm">
        <div class="container">
            <a class="navbar-brand" href="#">
                <i class="fa-solid fa-shop me-2 color-leboncoin"></i>
                <img width="99" src="{{ asset('images/Leboncoin_Logo.svg') }}">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="mx-auto my-3 d-lg-none d-sm-block d-xs-block">
                <div class="input-group">
                    <span class="border-warning input-group-text bg-warning text-white"><i
                                class="fa-solid fa-magnifying-glass"></i></span>
                    <input type="text" class="form-control border-warning" style="color:#7a7a7a">
                    <button class="btn btn-warning text-white">Search</button>
                </div>
            </div>
            <div class=" collapse navbar-collapse" id="navbarNavDropdown">
                <div class="ms-auto d-none d-lg-block">
                    <div class="input-group">
                        <span class="border-warning input-group-text bg-warning text-white"><i
                                    class="fa-solid fa-magnifying-glass"></i></span>
                        <input type="text" class="form-control border-warning" style="color:#7a7a7a">
                        <button class="btn btn-warning text-white">Search</button>
                    </div>
                </div>
                <ul class="navbar-nav ms-auto ">
                    <li class="nav-item">
                        <a class="nav-link mx-2 text-uppercase active" aria-current="page"
                           href="#">{{ 'app.menu.offers'|trans }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-2 text-uppercase" href="#">{{ 'products'|trans }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-2 text-uppercase" href="#">{{ 'app.menu.catalog'|trans }}</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto ">
                    <li class="nav-item">
                        <a class="nav-link mx-2 position-relative" href="#">
                            <i class="icon-arrow-long-left"></i>
                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                               0
                            </span>
                            {{ 'app.menu.cart'|trans() }}</a>
                    </li>

                    {% if app.user %}

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle mx-2" data-bs-toggle="dropdown" aria-expanded="false"
                               href="#"> {{ 'app.menu.account'|trans() }}</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Halawakba</a></li>
                                <li><a class="dropdown-item" href="#">{{ 'app.menu.profil'|trans }}</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item"
                                       href="{{ path('app_logout') }}">{{ 'app.menu.logout'|trans() }}</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link mx-2" href="{{ path('app_login') }}">
                                <i class=""></i> {{ 'app.menu.login'|trans() }}</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

</header>
<div class="container">

    {% block body %}{% endblock %}
</div>
</body>
</html>
