{% extends 'base.html.twig' %}

{% block body %}

    <div class="c-offer" style="display: flex; flex-direction: row;align-items: flex-start; justify-content: space-between; gap: 60px;">
        <div style="width: 100%;">
            <img style="width: 100%;" src="https://images.unsplash.com/photo-1517142089942-ba376ce32a2e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80"/>
        </div>

        <div>
            <h3>{{ offer.title }}</h3>
            <p>{{ offer.description }}</p>
            <p>{{ offer.price }}€</p>

            <div class="">
                <h6>Vendeur :</h6>
                    <H6>{{ offer.user.pseudo }}</H6>
                    <a class="btn btn-primary" href="/user/{{ offer.user.id }}">Voir le vendeur</a>
            </div>
        </div>
    </div>

    {% include 'questions/question.html.twig' %}

{% endblock %}
